<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand mr-auto" href="/">Farm Labor</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDivetastic"
		aria-controls="navbarFarmLabor" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarDivetastic">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarindexLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Site Indexes
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/farms">Go to Farms</a>
					<a class="dropdown-item" href="/labor">Go to Labor</a>
				</div>
			</li>
			{{#unless currentUser}}
			<li class="nav-item"><a class="nav-link" href="/login">Login!</a></li>
			<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
			{{else}}
			<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
			{{/unless}}
		</ul>
	</div>

</nav>