<!-- Adapted from Bootstrap https://getbootstrap.com/docs/4.5/getting-started/introduction/ 
Uses Jumbotron Uses form-group Use column dynamic styling
-->
{{> navbar}}
<div class="jumbotron jumbotron-fluid dive-display-header">
    <div class="container">
        <h1 class="display-4">Add A Certification for {{currentUser}}</h1>
    </div>
</div>
<div class="container">
    <form action="/diver/addCert" method="POST"  class="needs-validation" novalidate>
        <div class="form-group col-md-5">
            <label for="certNum">Certification Number:</label>
            <input type="text" class="form-control" name="certNum" id="certNum" placeholder="Certification Number" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="description">Short Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="description" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-primary btn-sm">Add Certification</button>
    </form>
</div>

