<!-- Adapted from Bootstrap https://getbootstrap.com/docs/4.5/getting-started/introduction/ 
Uses Jumbotron Uses form-group Use column dynamic styling
-->
{{> navbar}}
<div class="jumbotron jumbotron-fluid dive-display-header">
    <div class="container">
        <h1 class="display-4">Edit a Cert</h1>
    </div>
</div>
<div class="container">
    <form action="/diver/editCert?_method=PUT" method="POST"  class="needs-validation" novalidate>
        <div class="form-group col-md-5">
            <label for="certNum">Certification Number:</label>
            <input type="text" class="form-control" name="certNum" id="certNum" value="{{diver.certNum}}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="description">Short Description</label>
            <input type="text" class="form-control" name="description" id="description" value="{{diver.description}}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <input type = "hidden" name = "diverID" value = "{{diver.diverID}}" />
        <input type = "hidden" name = "certID" value = "{{diver.certID}}" />
        <button class="btn btn-primary btn-sm">Update Certification</button>
    </form>
</div>

