{{>navbar}}
<div class="container-fluid">
	<img class="img-fluid"
		src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/full_width/public/thumbnails/image/banner_mapsHD.png?itok=3oRNh8YR">
</div><br>
<div class="container">
	<div class="row">
		<div class="col-3">
			<div class="container-farm-search">
				<div class="row">
					<div class="input-group">
						<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
							aria-describedby="search-addon" />
						<button type="button" class="btn btn-outline-primary">search</button>
					</div>
				</div>
				Filters
				<div class="row">
					Job types
				</div>
	
				<div class="row">
					Pay
				</div>
					<div class="form-check" id='payCheck'>
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							Undisclosed
						</label>
					</div>
					<div class="form-check" id='payCheck'>
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							$20 and up
						</label>
					</div>
					<div class="form-check" id='payCheck'>
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							$15.00 to $19.99
						</label>
					</div>
					<div class="form-check" id='payCheck'>
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							$10.00 to $14.99
						</label>
					</div>
					<div class="form-check" id='payCheck'>
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						<label class="form-check-label" for="flexCheckDefault">
							$7.05 to $9.99
						</label>
					</div>
			</div>
		</div>
		<div class="col-9">
			<div class="container">
				<div class="row" id="gallery">
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100"
							src="https://foodtank.com/wp-content/uploads/2020/04/COVID-19-Relief_Small-Farms-.jpg">
						Farm Name
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100"
							src="https://www.sonomacounty.com/sites/default/files/2019-03/farms_farmers_markets_petaluma_sonoma_county_069_2000_1125.jpg">
						Farm Name
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100"
							src="https://static.stacker.com/s3fs-public/styles/sar_screen_maximum_large/s3/20outsideworkOQLK.jpg">
						Farm Name
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100" src="https://live.staticflickr.com/65535/50881797506_176f3d534f_z.jpg">
						Farm Name
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100"
							src="https://foodtank.com/wp-content/uploads/2020/04/COVID-19-Relief_Small-Farms-.jpg">
						Farm Name
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100"
							src="https://www.sonomacounty.com/sites/default/files/2019-03/farms_farmers_markets_petaluma_sonoma_county_069_2000_1125.jpg">
						Farm Name
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100"
							src="https://static.stacker.com/s3fs-public/styles/sar_screen_maximum_large/s3/20outsideworkOQLK.jpg">
						Farm Name
					</div>
					<div class="col-12 col-sm-6 col-lg-3">
						<img class="w-100" src="https://live.staticflickr.com/65535/50881797506_176f3d534f_z.jpg">
						Farm Name
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
