<!-- Adapted from Bootstrap https://getbootstrap.com/docs/4.5/getting-started/introduction/ 
Uses Jumbotron uses container
-->
{{> navbar}}
<div class="jumbotron jumbotron-fluid dive-display-header">
    <div class="container">
        <h1 class="display-4">Add A Fish</h1>
    </div>
</div>
<div class="container">
    <form action="/fish/addFish" method="POST"  class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="form-group col-md-5">
            <label for="name">Name of Fish</label>
            <input type="text" class="form-control" name="commonName" id="commonName" placeholder="Fish Name" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="name">Scientific name of Fish</label>
            <input type="text" class="form-control" name="scientificName" id="scientificName" placeholder="Fish Scientific Name" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="name">Description of Fish</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Description of fish" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="name">Add a picture of the fish</label>
            <input type="file"  class="form-control" name="fishPhoto" id="fishPhoto" required/>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    <button class="btn btn-primary btn-sm">Add Fish</button>
    </form>
</div>