<!-- Adapted from Bootstrap https://getbootstrap.com/docs/4.5/getting-started/introduction/ 
Uses Jumbotron uses container
-->
{{> navbar}}
<div class="jumbotron jumbotron-fluid dive-display-header">
    <div class="container">
        <h1 class="display-4">All of the Fish tracked on Divetastic</h1>
    </div>
</div>
<a class="btn-1 btn-lg" href="/fish/addFish" role="button">Add a new Fish</a>


<div class="container-fluid">
    <div class="row">
        {{#each fish}}
            <div class="card col-sm-6 col-md-4 dive-card">
                <div class="card-body">
                    <h3 class="card-title">{{this.commonName}}</h3>
                    <img src="{{this.imageURL}}" alt="">
                    <p>{{this.description}}</p>
                    <form action="/fish/editFish" method="POST">
                        <input type="hidden" name="fishID" value="{{this.fishID}}" />
                        <button class="btn-1 btn-sm">Update fish</button>
                    </form>
                    </p>
                </div>
            </div>
        {{/each}}
    </div>  
</div>